html {
    height: 100%;
}

body {
    height: 100%;
}

.left {
    height: 100%;
    align-items: center;
    margin: 12%;
}

.btn-btn {
    color: white;
    background-color: rgb(221, 215, 215);
    text-align: right;
    border-radius: 25px;

}

.right {
    height: 100%;
    display: grid;
    grid-template-rows: 45%;
}

.back {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 136, 236);
}

.card {
    height: 90%;
    width: 90%;
    border-radius: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 35% auto;
    box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.3);
    padding: 16px;
    background-color: #f1f1f1;
}

.card-card {
    display: grid;
    grid-template-columns: 35% auto;
}
.left-text{
    text-align: left;
}